test/*
test/
.idea/
tcbf/util/
test/visualization/multiple_plot.py
test/visualization/plot_pair_hic_heatmap.py
test/visualization/plot_TAD.py
test/visualization/plot_tad_structure.py
test/visualization/run_syri.py